/*********
 VARIABLES 
 *********/
 :root {
    --grad: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);

    /* colors */
    --light: #ffffff;

    /* sizes */
    --memeText: 2rem;
    --small: .75rem;
    --med: 1rem;
    --large: 1.2969rem;

    /* line heights */
    --LHsmall: .9075rem;
    --LHmed: 1.16875rem;
    --LHlarge: 1.525rem;
    --LHmemes:  2.4375rem;
 }

 /*******
  GENERAL 
  *******/
 body {
    font-family: 'Titan One', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Karla', sans-serif;
 }

 #headContainer img {
     height: 20px;
 }